.black{
    position: absolute;
    width: 100%;
    top: 0px;
    height: 110px;
    left: -10px;
    background-color: rgb(7, 2, 2);
    color: white;
    text-align: center;
    font-size: 50px;
    }
    .grafica{
        position: absolute;
        top: 300px;
        height: 440px;
        left: 1100px;
    }

    .grfest{
        position: absolute;
        top: 740px;
        left: 1040px;
    }
    .medidor{
    position: absolute;
    top: 800px;
    height: 440px;
    left: 1100px;
}
.medest{
    position: absolute;
    top: 240px;
    left: 1050px;
}
   

.fondo{
    position: absolute;
    width: 1920px;
    height:955px;
    left: 0px;
}
